In [1]:
import logging
import os

import partridge as ptg
import pandas as pd

from gtfs_router.utils import generate_shape_dist_traveled

logger = logging.getLogger()
logger.setLevel(logging.INFO)
logging.debug('Init Logger')

In [2]:
gtfs_feed_path = os.path.join("..", "data", "sacramento_2021_03_15")
feed = ptg.load_geo_feed(gtfs_feed_path)

feed.stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,937202,78240.0,78240.0,1184,1,0,0
1,937202,78240.0,78240.0,3301,2,0,0
2,937202,78300.0,78300.0,1187,3,0,0
3,937202,78300.0,78300.0,1188,4,0,0
4,937202,78360.0,78360.0,1189,5,0,0

In [3]:
## Warnings are a result of route looping back on itself
new_stop_times = generate_shape_dist_traveled(feed, overwrite=False)

C:\Anaconda3\envs\gtfs-router\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
INFO:root:Processing Unique Trip Group 10 of 188
INFO:root:Processing Unique Trip Group 20 of 188
INFO:root:Processing Unique Trip Group 30 of 188
INFO:root:Processing Unique Trip Group 40 of 188
INFO:root:Processing Unique Trip Group 50 of 188
INFO:root:Processing Unique Trip Group 60 of 188
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 66
WARNING:root:Stop ID Error: 9817
INFO:root:Processing Unique Trip Group 70 of 188
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 76
WARNING:root:Stop ID Error: 11159
INFO:root:Processing Unique Trip Group 80 of 188
INFO:root:Processing Unique Trip Group 90 of 188
INFO:root:Processing Unique Trip Group 100 of 188
INFO:root:Processing Unique Trip Group 110 of 188
INFO:root:Processing Unique Trip Group 120 of 188
INFO:root:Processing Unique Trip Group 130 of 188
INFO:root:Processing Unique Trip Group 140 of 188
INFO:root:Processing Unique Trip Group 150 of 188
INFO:root:Processing Unique Trip Group 160 of 188
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 163
WARNING:root:Stop ID Error: 11163
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 164
WARNING:root:Stop ID Error: 11163
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 164
WARNING:root:Stop ID Error: 11219
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 164
WARNING:root:Stop ID Error: 11161
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 164
WARNING:root:Stop ID Error: 11163
WARNING:root:Potential Error Calculating Distances
WARNING:root:Idx Error: 166
WARNING:root:Stop ID Error: 11163
INFO:root:Processing Unique Trip Group 170 of 188
INFO:root:Processing Unique Trip Group 180 of 188

In [4]:
## Additional field added 'shape_dist_traveled'
## Units are in meters based on default projection: Albers Equal Area Conical
new_stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
0,937202,78240.0,78240.0,1184,1,0,0,106.281102
1,937202,78240.0,78240.0,3301,2,0,0,285.457464
2,937202,78300.0,78300.0,1187,3,0,0,637.774925
3,937202,78300.0,78300.0,1188,4,0,0,1075.804083
4,937202,78360.0,78360.0,1189,5,0,0,1455.901490